.banner {
  width: 750px;
  height: 1305px;
  background: #fff url(../images/banner2.png);
}
.calbox {
  margin-top: -600px;
  background: #fff;
  padding: 0 25px;
  width: 100%;
}
.calbox input.phone {
  width: 620px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  color: #666666;
  font-size: 26px;
  text-indent: 1em;
  display: block;
  margin: 25px auto;
}
.calbox .submit {
  display: block;
  margin: 0 auto;
  width: 620px;
  height: 80px;
  line-height: 80px;
  background: #f77537;
  color: #fff;
  text-align: center;
  font-size: 36px;
  border-radius: 10px;
}
.cooperation {
  padding: 100px 0 80px;
}
.cooperation .title {
  width: 160px;
  text-align: center;
  margin: 0 auto;
  color: #333333;
  font-size: 30px;
  position: relative;
}
.cooperation .title:before {
  content: "";
  height: 2px;
  width: 55px;
  position: absolute;
  left: -60px;
  top: 20px;
  background: #333;
}
.cooperation .title:after {
  content: "";
  height: 2px;
  width: 55px;
  position: absolute;
  right: -60px;
  top: 20px;
  background: #333;
}
.cooperation .imgs {
  width: 704px;
  height: 151px;
  background: url(../images/cooperation.png);
  margin: 30px auto 0;
}
